body {
    background-color: #f3f2f7;
}

thead {
    padding-top: 20px;
}

th {
    color: #76777c;
    font-size: 11pt;
}

td {
    color: #76777c;
}

table a {
    color: #5c5d61;
}

    table a:hover {
        color: #434447;
    }

.titulo {
    padding-left: 2.5%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    background-color: #fff;
    color: #76777c;
    font-size: 12pt;
}
.subtitulo {
    background-color: #fff;
    color: #76777c;
    font-size: 12pt;
}

label, input {
    color: #76777c;
}

input {
    border: 1px solid #76777c;
}

.separador {
    border-top: 1px dashed #76777c;
    opacity: 0.5;
}

.btn-cadastrar {
    color: #fff;
    background-color: #057e83;
    font-size: 10pt;
    margin-right: 2.5%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.conteudo {
    background-color: #fff;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}

.btn-add-embalagem {
    background-color: #057e83 !important;
    margin-top: 30px;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

.fundo-verde {
    background-color: #057e83 !important;
    color: #fff;
}

.itens {
    padding-left: 2%;
    padding-right: 2%;
}

.menu {
    background-color: #2f4050;
    min-height: calc(100vh);
    overflow: hidden !important;
}

.avatar-div {
    background-color: #212f3b;
    padding-left: 15%;
}

.campo-email {
    display: block;
    font-size: 80%;
    margin-top: -1%;
    color: #506173;
}

.campo-nome {
    display: block;
    color: #fff;
    font-weight: 500;
}

.seta-randomiza-email:hover {
    cursor: pointer;
    color: #bababa;
}

.menu ul {
    list-style: none;
    color: #fff;
    padding: 0;
    width: 100%;
}

    .menu ul li {
        min-height: 50px;
        padding-left: 10%;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 11pt;
    }

        .menu ul li:hover {
            background-color: #22303d !important;
        }

.foco {
    background-color: #253442;
    border-left: 4px solid #067c7d;
    font-weight: 500;
}

a {
    color: #fff;
}

    a:hover {
        color: #fff;
        text-decoration: none;
    }

hr {
    margin-top: 0;
    margin-bottom: 0;
}

.situacao-1 {
    padding: 5px;
    background-color: #f25365;
    color: #fff;
}

.situacao-2 {
    padding: 5px;
    background-color: #077d81;
    color: #fff;
}

.situacao-3 {
    padding: 5px;
    background-color: #d4d9df;
    color: #76777c;
}